* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url("https://w.wallhaven.cc/full/l8/wallhaven-l83o92.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Helvetica;
}

nav {
    background-color: rgba(red, green, blue, alpha);
    width: 100%;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
}

.menu .lista {
    display: inline-block;
}

.lista-r {
    float: right;

}

.lista a:hover {
    background-color: tomato;
}

main {
    text-align: center;
}

img {
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
}


p {
    font-size: 15px;
    font-weight: 600;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(119, 119, 119, 0.5);
}

label {
    font-size: 22px;
    font-weight: 600;
}

#textarea {
    border: 0cap;
    font-size: 18px;
    margin: 5px;
    background-color: rgba(119, 119, 119, 0.5);
    color: white;
}

button[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    font-family: 20px;

    font-weight: 600;
    border-radius: 5px;
}


input::placeholder {
    color: white;
}

input:focus {
    outline: none;
    background-color: rgba(red, green, blue, alpha);
}

#contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#contenedor3{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
}
#placa1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#fechas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

